body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #008000;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

input, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

input[type="number"], input[type="text"], input[type="date"] {
    width: 200px;
}

button {
    background-color: #008000;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005700;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}

a {
    color: #008000;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}